.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
    
  }


  .example-button-row button {
    display: table-cell;
    margin-right: 8px;
  }
  
  .mat-toolbar{
    background-color:  rgb(19, 19, 19);
  }

  .mat-button{
    font-size: large;
  }

  .title{
      font-size: x-large;
      
  }