<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <div class="container">
            <ul class="ultitlelist">
                <li class="list"> 
                    <label class="sidebar-title">
                        Videogames
                    </label>   
                </li>

                <li class="list"> 
                    <label class="sidebar-subtitle">
                        Random inspiring sentence about the art of videogames
                    </label>   
                </li>

            </ul>
        </div>
        
    </mat-drawer>
    <mat-drawer-content>
        

    </mat-drawer-content>
  </mat-drawer-container>