.example-container {
    width: 1920px;
    height: 1080px;
    
    border: 1px solid rgb(63, 63, 63);
  }

  .mat-drawer{
      width : 400px;
      background-color:  rgb(24, 24, 24);
  }

  .mat-drawer-content
  {
    width : auto;
      background-color:  rgb(24, 24, 24);
  }


  .sidebar-title{
    font-size: 48px;
    
    margin: 100px,0px,100px;
    list-style-type: none;   
    
  }


.list{
    margin: 100px,0px,100px;
}

  .sidebar-subtitle{
    margin: 100px,0px,0px;
    font-size: large;
}

.ultitlelist{
    margin: 100px,0px,100px;
    list-style-type: none;
    
}

  

.container{
    margin-top: 200px;
}